---

---

<div class="code-css">
    <pre class="pre-code">
        <code  class="line-numbers language-javascript" data-previewers="color time">
         <slot></slot>
        </code>
      </pre>
</div>